@font-face {
  font-family: 'iconfont';
  /* Project id 1947684 */
  src: url('../fonts/iconfont.woff2?t=1627306378388') format('woff2'),
    url('../fonts/iconfont.woff?t=1627306378388') format('woff'),
    url('../fonts/iconfont.ttf?t=1627306378388') format('truetype');
}

.iconfont {
  font-family: 'iconfont' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-mianxingshezhi:before {
  content: '\e6ad';
}
